<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE SYSDATA SYSTEM "file:///home/wastl/tmp/tomcat-4.1.12/webapps/webmail/lib/xml/sysdata.dtd">


<SYSDATA xmlns="http://jwebmail.sf.net/sysdata">

  <cache name="stylesheet">
    <description>
      Stylesheet Cache
    </description>
    <size>40</size>
    <threshold>0.9</threshold>
  </cache>

  <cache name="user">
    <description>
      User Cache
    </description>
    <size>40</size>
    <threshold>0.9</threshold>
  </cache>


  <DOMAIN>
    <NAME>localnet</NAME>

    <DEFAULT_HOST>localhost</DEFAULT_HOST>

    <AUTHENTICATION_HOST>localhost</AUTHENTICATION_HOST>

    <RESTRICTED/>

    <ALLOWED_HOST>localhost</ALLOWED_HOST>
</DOMAIN>



  <GROUP name="default">
    <CONFIG type="integer">
      <KEY>CACHE SIZE USER</KEY>

      <DESCRIPTION>Size of the user cache</DESCRIPTION>

      <VALUE>100</VALUE>
</CONFIG>

    <CONFIG type="bool">
      <KEY>FOLDER TRY LOGIN PASSWORD</KEY>

      <DESCRIPTION>Try to connect folders with the user's login password if authentication fails</DESCRIPTION>

      <VALUE>YES</VALUE>

      <CHOICE>YES</CHOICE>

      <CHOICE>NO</CHOICE>
</CONFIG>

    <CONFIG type="bool">
      <KEY>ENABLE POP3</KEY>

      <DESCRIPTION>Enable pop3 from Sun Microsystems, Inc</DESCRIPTION>

      <VALUE>YES</VALUE>

      <CHOICE>YES</CHOICE>

      <CHOICE>NO</CHOICE>
</CONFIG>

    <CONFIG type="string">
      <KEY>ADVERTISEMENT SIGNATURE PATH</KEY>

      <DESCRIPTION>Path to advertisement to attach to all outgoing messages (either absolute or relative to data directory)</DESCRIPTION>

      <VALUE>advertisement.sig</VALUE>
</CONFIG>

    <CONFIG type="integer">
      <KEY>SESSION TIMEOUT</KEY>

      <DESCRIPTION>Timeout in milliseconds after which a WebMailSession is closed automatically.</DESCRIPTION>

      <VALUE>3600000</VALUE>
</CONFIG>

    <CONFIG type="bool">
      <KEY>ENABLE IMAP</KEY>

      <DESCRIPTION>Enable imap from Sun Microsystems, Inc</DESCRIPTION>

      <VALUE>YES</VALUE>

      <CHOICE>YES</CHOICE>

      <CHOICE>NO</CHOICE>
</CONFIG>

    <CONFIG type="choice">
      <KEY>DEFAULT PROTOCOL</KEY>

      <DESCRIPTION>Protocol to be used as default</DESCRIPTION>

      <VALUE>imap</VALUE>

      <CHOICE>imap</CHOICE>

      <CHOICE>pop3</CHOICE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_DE</KEY>

      <DESCRIPTION>Themes for language de</DESCRIPTION>

      <VALUE>classic bibop </VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_HU</KEY>

      <DESCRIPTION>Themes for language hu</DESCRIPTION>

      <VALUE>bibop classic </VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_ES</KEY>

      <DESCRIPTION>Themes for language es</DESCRIPTION>

      <VALUE>bibop classic </VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>ADVERTISEMENT MESSAGE</KEY>

      <DESCRIPTION>Advertisement to attach to user signatures</DESCRIPTION>

      <VALUE>JWebMail WebMail/Java v0.7.10, built with JDK 1.4.0 WWW to Mail Gateway</VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_EN</KEY>

      <DESCRIPTION>Themes for language en</DESCRIPTION>

      <VALUE>bibop classic </VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>LANGUAGES</KEY>

      <DESCRIPTION>Languages available in WebMail</DESCRIPTION>

      <VALUE>hu hu_HU es es_BO es_AR es_CL es_CO es_CR es_DO es_EC es_ES es_ES_EURO es_GT es_HN es_MX es_NI es_PA es_PE es_PR es_PY es_SV es_UY es_VE en_AU en_CA en_GB en_IE en_IE_EURO en_IN en_NZ en_ZA en en_US de de_AT de_AT_EURO de_CH de_DE de_DE_EURO de_LU de_LU_EURO fr fr_BE fr_BE_EURO fr_CA fr_CH fr_FR fr_FR_EURO fr_LU fr_LU_EURO zh zh_CN zh_HK zh_TW </VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>MAX ATTACH SIZE</KEY>

      <DESCRIPTION>Maximum size of attachments in bytes</DESCRIPTION>

      <VALUE>1000000</VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>SMTP HOST</KEY>

      <DESCRIPTION>Host used to send messages via SMTP. Should be localhost or your SMTP smarthost</DESCRIPTION>

      <VALUE>localhost</VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_FR</KEY>

      <DESCRIPTION>Themes for language fr</DESCRIPTION>

      <VALUE>bibop classic </VALUE>
</CONFIG>

    <CONFIG type="choice">
      <KEY>AUTH</KEY>

      <DESCRIPTION>Authentication method to use.</DESCRIPTION>

      <VALUE>IMAP</VALUE>

      <CHOICE>OTP</CHOICE>

      <CHOICE>POP3</CHOICE>

      <CHOICE>IMAP</CHOICE>

      <CHOICE>UNIX</CHOICE>

      <CHOICE>SIMPLE</CHOICE>
</CONFIG>

    <CONFIG type="string">
      <KEY>MIME TYPES</KEY>

      <DESCRIPTION>File with mime type information.</DESCRIPTION>

      <VALUE>/home/wastl/tmp/tomcat-4.1.12/webapps/webmail/lib/mime.types</VALUE>
</CONFIG>

    <CONFIG type="string">
      <KEY>THEMES_ZH</KEY>

      <DESCRIPTION>Themes for language zh</DESCRIPTION>

      <VALUE>bibop classic </VALUE>
</CONFIG>

    <CONFIG type="crypted">
      <KEY>ADMIN PASSWORD</KEY>

      <DESCRIPTION>Password for administrator connections. Shown encrypted, but enter plain password to change.</DESCRIPTION>

      <VALUE>AAYSG4OlveI5k</VALUE>
</CONFIG>

    <CONFIG type="bool">
      <KEY>ADVERTISEMENT ATTACH</KEY>

      <DESCRIPTION>Attach advertisement from ADVERTISEMENT SIGNATURE PATH to each outgoing message</DESCRIPTION>

      <VALUE>NO</VALUE>

      <CHOICE>YES</CHOICE>

      <CHOICE>NO</CHOICE>
</CONFIG>

    <CONFIG type="bool">
      <KEY>SHOW ADVERTISEMENTS</KEY>

      <DESCRIPTION>Whether or not to include the WebMail advertisement messages in default user signatures and HTTP response headers</DESCRIPTION>

      <VALUE>YES</VALUE>

      <CHOICE>YES</CHOICE>

      <CHOICE>NO</CHOICE>
</CONFIG>

    <CONFIG type="integer">
      <KEY>CACHE SIZE FILE</KEY>

      <DESCRIPTION>Size for the file system cache for every locale</DESCRIPTION>

      <VALUE>40</VALUE>
</CONFIG>

    <CONFIG type="integer">
      <KEY>LOGLEVEL</KEY>

      <DESCRIPTION>How much debug output will be written in the logfile</DESCRIPTION>

      <VALUE>5</VALUE>
</CONFIG>
</GROUP>
</SYSDATA>
